<!DOCTYPE html>
<html>
    <head>
        <title>Cupcakes!</title>
    </head>
    <body>
        <h1>All Cupcakes:</h1>
        <ul id="cupcakes-list"></ul>
        <h2>Add A Cupcake</h2>
        <form>
            <input type="text" name="flavor" placeholder="flavor">
            <input type="text" name="size" placeholder="size">
            <input type="number" name="rating" placeholder="rating">
            <input type="text" name="image" placeholder="image URL">
        </form>
    </body>
</html>